/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Josefin Sans"; /* "Inter", sans-serif; */
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-alternative: rgb(47, 47, 160);
}

.marcoReserva {
  background: url(../img/corcho.jpg);
  background-size: cover;
  min-height: 520px;
  min-width: 100%;
  border-image: url(../img/madera.jpg) 10 repeat;
  border-image-width: 13px;
  margin: 4% 0;
  display: flex;
  flex-direction: row;
  padding: 1% 0;
  box-shadow: 0px 10px 20px black;
}

.marcoReserva div {
  width: 7.5%;
}

.reservas {
  min-width: 85%;
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 5%;
  padding: 2% 0;
}

.marcoReserva .prev,
.marcoReserva .next {
  display: grid;
  place-items: center;
  flex: 1;
}

.reserva {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  min-width: 150px;
  padding: 2%;
  box-shadow: 0px 10px 10px rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserva-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 120px;
}

.reserva-contenedor div {
  width: 100%;
  /* background-color: red; */
  margin: 1%;
}

.reserva-contenedor .div-punzon {
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-datos-reserva {
  display: grid;
  white-space: nowrap;
}

.reserva-contenedor .div-datos-reserva {
  height: auto;
  flex-grow: 1;
  place-items: center;
  grid-template-rows: repeat(5, 1fr);
  padding: 2%;
}

.div-botones-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10%;
}

.reserva-contenedor .div-botones-reserva {
  height: 21%;
}

.div-punzon .punzon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255,49,0,1) 0%, rgba(255,80,0,1) 2%, rgba(255,159,2,1) 35%, rgba(227,255,0,1) 100%);
  box-shadow: 0px 3px 10px rgb(63, 63, 63);
}

.div-datos-reserva .div.dato {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1.3fr;
  place-items: center;
}

.div-datos-reserva span { font-family: var(--font-secondary); }

.reserva-contenedor .div-datos-reserva span { font-size: 0.8rem; }
.carousel-habs .div-datos-reserva span { font-size: 0.93rem; }

/*
@media only screen and (max-width: 768px) {
  .reservas {
    grid-template-columns: repeat(2, 1fr);
  }

  .reserva {
    width: 45%;
  }

  .reservas {
    padding: 0;
  }

  .marcoReserva .prev button,
  .marcoReserva .next button {
    font-size: 0.8rem;
  }

  .reserva-contenedor div {
    padding: 1%;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .reservas {
    grid-template-columns: repeat(4, 1fr);
  }

  .reserva {
    width: 20%;
  }
}
*/

/* -------------------------------------------------- */

.carousel-inner {
  padding: 1em;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  padding-bottom: 5%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
  }

  .carousel-inner {
      display: flex;
  }
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-height: 100%;
}

@media (max-width: 767px) {
  .card .img-wrapper {
      height: 17em;
  }
}

.carousel-habs .card-body {
  display: grid;
  place-items: center;
  grid-template-rows: 0.3fr 1fr 0.6fr;
  gap: 5% 0;
}

.carousel-habs .card-title {
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.carousel-habs .div-datos-reserva {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 7% 10%;
}

.carousel-habs .div-botones-reserva {
  margin-top: 5%;
}

@media only screen and (max-width: 1680px) {

  .carousel-habs .div-datos-reserva {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}