/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Josefin Sans"; /* "Inter", sans-serif; */
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-alternative: rgb(47, 47, 160);
}

.marcoReserva {
  background: url(../img/corcho.jpg);
  background-size: cover;
  min-height: 520px;
  min-width: 100%;
  border-image: url(../img/madera.jpg) 10 repeat;
  border-image-width: 13px;
  margin: 4% 0;
  display: flex;
  flex-direction: row;
  padding: 1% 0;
  box-shadow: 0px 10px 20px black;
}

.marcoReserva div {
  width: 7.5%;
}

.reservas {
  min-width: 85%;
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 5%;
  padding: 2% 0;
}

.marcoReserva .prev,
.marcoReserva .next {
  display: grid;
  place-items: center;
  flex: 1;
}

.reserva {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  min-width: 150px;
  padding: 2%;
  box-shadow: 0px 10px 10px rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserva-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 120px;
}

.reserva-contenedor div {
  width: 100%;
  /* background-color: red; */
  margin: 1%;
}

.reserva-contenedor .div-punzon {
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-datos-reserva {
  display: grid;
  white-space: nowrap;
}

.reserva-contenedor .div-datos-reserva {
  height: auto;
  flex-grow: 1;
  place-items: center;
  grid-template-rows: repeat(5, 1fr);
  padding: 2%;
}

.div-botones-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10%;
}

.reserva-contenedor .div-botones-reserva {
  height: 21%;
}

.div-punzon .punzon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255,49,0,1) 0%, rgba(255,80,0,1) 2%, rgba(255,159,2,1) 35%, rgba(227,255,0,1) 100%);
  box-shadow: 0px 3px 10px rgb(63, 63, 63);
}

.div-datos-reserva .div.dato {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1.3fr;
  place-items: center;
}

.div-datos-reserva span { font-family: var(--font-secondary); }

.reserva-contenedor .div-datos-reserva span { font-size: 0.8rem; }
.carousel-habs .div-datos-reserva span { font-size: 0.93rem; }

/*
@media only screen and (max-width: 768px) {
  .reservas {
    grid-template-columns: repeat(2, 1fr);
  }

  .reserva {
    width: 45%;
  }

  .reservas {
    padding: 0;
  }

  .marcoReserva .prev button,
  .marcoReserva .next button {
    font-size: 0.8rem;
  }

  .reserva-contenedor div {
    padding: 1%;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .reservas {
    grid-template-columns: repeat(4, 1fr);
  }

  .reserva {
    width: 20%;
  }
}
*/

/* -------------------------------------------------- */

.card-title {
  font-family: var(--font-secondary);
}

#carta-accordion .accordion-header button {
  font-family: var(--font-secondary);
}

.square {
  width: 70%;
  height: 200px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 15px;
}

.card img {
  background-size: cover;
}

/* -------------------------------------------------- */

#carta-accordion .card:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

#carta-accordion .plato-selected {
  background-color: rgb(6, 68, 115);
  color: whitesmoke;
}

#carta-accordion .plato-selected:hover {
  background-color: rgb(26, 131, 212);
  color: whitesmoke;
}

/* --------------------------------------- */

.tabla-crud tbody tr {
  cursor: pointer;
}

.tabla-crud tbody tr:hover {
  background-color: #bac2ca;
  color: azure;
}

.card-tabla-crud-rm .card-header, .filtros-reservas-mesa .card-header {
  background-color: #763636;
  color: white;
}

.card-tabla-crud-rm, .filtros-reservas-mesa {
  border-color: #763636;
}